@import "./reset.scss";
@import "./variables.scss";

body {
  font-family: $font-family;
  background-color: $background-color;
}

main {
  min-height: 100vh;
  color: $font-mainColor;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  column-gap: 15px;
  justify-content: center;

  &__content {
    display: flex;
    flex: 1 1;
    gap: 15px;
  }
}

.navigation {
  position: relative;
  background-color: $navigation-color;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 3px 1px 21px 1px $header-color;
  -moz-box-shadow: 3px 1px 21px 1px $header-color;
  box-shadow: 3px 1px 21px 1px $header-color;
}
.burger {
  &__menu {
    position: relative;
    padding: 10px;
  }
}
.menu {
  &__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 5;

    span {
      content: " ";
      top: 8px;
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $font-mainColor;
      transition: all 0.3s ease-in-out;

      &::before {
        content: "";
        top: -8px;
      }

      &::after {
        content: " ";
        top: 8px;
      }

      &,
      &::before,
      &::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $font-mainColor;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

#menu__toggle {
  opacity: 0;
  position: absolute;
  width: 25px;
  height: 25px;
}

.nav {
  ul {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: none;
    li {
      a {
        text-decoration: none;
        color: $font-mainColor;
      }
    }
  }

  &__item {
    display: block;
    padding: 12px 24px;
    color: $font-mainColor;
    font-weight: $font-weightBold;
    &:hover {
      color: $aside-color;
    }
  }
}

.content {
  position: relative;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $header-color;
  padding: 10px 20px;
}

.dropdown-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 0;

  .dropdown {
    position: relative;
    display: inline-block;
    width: min-content;

    .dropbtn {
      background-color: $navigation-color;
      color: $font-mainColor;
      padding: 16px;
      border: none;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $dropDownMenu-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px $darkest-color;
  z-index: 1;

  .dropdown:hover > & {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  & a {
    color: $font-secondColor;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: $aside-color;
      color: $font-mainColor;
    }
  }
}

%rect-div {
  background-color: $article-color;
  height: 50px;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.animations {
  display: flex;
  gap: 15px;
  background-color: $article-color;
  width: 100%;
}
.rect {
  &_keyFrames {
    @extend %rect-div;

    &:hover .square {
      animation-play-state: paused;
      background: $font-secondColor;
      color: $font-mainColor;
    }

    .square {
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 0%;
      background: $background-color;
      color: $font-secondColor;
      font-size: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      left: 0;
      animation: square-animation 4s linear infinite alternate 1s;
    }
  }

  #rect_setInterval {
    @extend %rect-div;
  }

  #rect _animationFrame {
    @extend %rect-div;
  }
}

@keyframes square-animation {
  0% {
    left: 0;
  }
  25% {
    border-radius: 50%;
  }
  50% {
    border-radius: 100%;
  }
  75% {
    border-radius: 50%;
  }
  100% {
    left: 90%;
  }
}

.characters {
  display: flex;
  gap: 15px;
  width: 100%;
}
.character-info {
  background-color: $article-color;
  color: $font-secondColor;
  padding: 10px;
  justify-content: center;
  width: 50%;
  flex-grow: 1;
}

.article {
  background-color: $article-color;
  color: $font-secondColor;
  padding: 10px;
  justify-content: center;
  flex-grow: 1;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
  }
}
.aside {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: $aside-color;
  min-width: 130px;

  p {
    font-style: italic;
  }
}
.tab {
  width: 100%;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgba(78, 108, 80, 0.9);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: rgba(78, 108, 80, 0.7);
  }

  &::after {
    content: "\2192";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.3s ease-in-out;
}
.footer {
  height: 20%;
  min-height: 50px;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $header-color;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .nav__list {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}

/*Accordion*/
#chck1,
#chck2 {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input:checked + .tab-label {
  background-color: $tabLabel-color;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* Extra-small (phone) */
@media screen and (min-width: 0) and (max-width: 599.999px) {
  .dropdown-list {
    gap: 5px;
    flex-wrap: wrap;
  }

  .wrapper__content {
    flex-direction: column-reverse;
  }

  .article {
    max-width: calc(100% - 20px);
    font-size: 10px;
  }
}

/* Small (tablet) */
@media screen and (min-width: 600px) and (max-width: 903.999px) {
  .article {
    max-width: calc(50% - 20px);
  }

  .wrapper__content {
    flex-direction: column-reverse;
  }
}

/* Medium (laptop) */
@media screen and (max-width: 904px) and (max-width: 1239.999px) {
  .article {
    max-width: calc(50% - 20px);
  }

  .wrapper__wrapper {
    gap: 10px;
  }
}

/* Large (desktop) */
@media screen and (max-width: 1240px) and (max-width: 1439.999px) {
}

@media screen and (min-width: 1440px) {
}
