@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap");

//colors
$background-color: #d6d6d6;
$navigation-color: #4f4f51;
$dropDownMenu-color: #fefcf3;
$darkest-color: #00000033;
$aside-color: #658b6f;
$tabLabel-color: #4e6c50;
$article-color: #6d9197;
$header-color: #2c2b30;
$font-mainColor: #f2f3f4;
$font-secondColor: #2c2b30;
$font-weightNormal: 400;
$font-weightBold: 600;

//fonts
$font-family: "Roboto", sans-serif;
